.textContainer {
  width: 600px;
  box-shadow: 0 4px 8px 0 rgb(238, 227, 227);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  color: white;
  height: 99%;
  justify-content: space-between;
  background-color: rgb(208, 202, 214);
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
