.textContainer {
  width: 600px;
  box-shadow: 0 4px 8px 0 rgb(238, 227, 227);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  color: white;
  height: 99%;
  justify-content: space-between;
  background-color: rgb(238, 238, 245);
}

.block {
  border-radius: 10px;
  display: block;
  width: 100%;
  border: none;
  background-color: #4c7faf;
  color: white;
  padding: 10px 208px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

.img {
  margin: 3px;
  border-radius: 50%;
  height: 40px;
}

.imgOnline {
  margin: 3px;
  border-radius: 50%;
  height: 10px;
}

.activeItem {
  display: flex;
  align-items: center;
  width: 100%;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 1px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
