.textContainer {
  width: 600px;
  box-shadow: 0 4px 8px 0 rgb(238, 227, 227);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  color: white;
  height: 99%;
  justify-content: space-between;
  background-color: rgb(238, 238, 245);
}

.activeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 100%;
}
ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  
  margin-left: calc(50% - 50vw);
  width: 99vw;
  font-size: medium;
  border-radius: 20px; 
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #209734;
  padding: 25px;
}

.activeItem {
  display: flex;
  align-items: center;
  width: 100%;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 1px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
